<div>
  <%= @player1.name %> vs <%= @player2.name %></br>

  <%= @player1.name %> Hitpoints: <%= @player1.hp %></br>
  <%= @player2.name %> Hitpoints: <%= @player2.hp %></br>
  
  <% if Game.attacked? %>
     <%= Game.current_player.name %> attacked <%= Game.opponent.name %>!</br>
  <% end %>

   <form action="/attack">
      <input type="submit" value="Attack">
    </form>
    <form action='/switch'>
      <input type="submit" value="Switch">
    </form>
</div>
